<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <style>
        .btn{
            width:100px;
            height:30px;
        }
    </style>
</head>
<body>
<h1>Booking Confirmation</h1>
<p>Your booking has been confirmed. Thank you!</p>

<form action="/confirmation" method="post">
    <button class="btn" value="Home Page">Home Page</button>
</form>

<!-- Add any additional confirmation details here -->
</body>
</html>
